.navbar.navbar-default {
  background-color: #313131;
}
.dropdown-menu {
  background-color: #313131;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.entry-title {
  color: #313131;
  font-weight: 200;
}
hr.section-divider:after {
  content: none;
}
